@import "../../style/_media.scss";
@import "../../style/_colors.scss";
@import "../../style/_elevate_object.scss";
.chords_container {
    margin: 1rem;
    display: grid;
    @media only screen and (max-width: $mobile) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    @media only screen and (min-width: $mobile) {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    grid-gap: 1rem;
    .chords {
        padding: 1rem;
        border-radius: 5;
        text-align: center;
        font-weight: 300;
        @include elevate-object(4);
    }
    .pulse {
        background-color: $teal-light;
        animation: chordPulse 500ms ease-out alternate infinite;
    }
    .active {
        background-color: $teal-active;
        @include elevate-object(8);
    }
}

@keyframes chordPulse {
    0% {
        @include elevate-object(2);
    }
    100% {
        @include elevate-object(12);
    }
}