@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500');
@import "./_media.scss";
html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #fafafa;
  font-family: $fontFamily;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @media (max-width: $mobile) {
    font-size: $Base;
  }
  @media (min-width: $mobile) {
    font-size: $Base * 1.25;
  }
}

* {
  box-sizing: border-box;
}

#app {
  height: 100%;
}
